body {
    background-color: white;
    margin-left: 20px;
}

.test-wrap {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 105px;
    background-color: red;
    width: 200px
}

.rect {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: #1BF5AF
}

.rect h2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-top: 10px;
    max-width: -webkit-calc(100% - 75px);
    max-width: calc(100% - 75px)
}

.rect h4 {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    font-weight: 300;
    font-size: 12px
}

.circ {
    position: absolute;
    top: -22.5px;
    right: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    height: 45px;
    width: 45px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #4F7097
}

.circ img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 25px
}

text.treemap-box-label{
    font-size: 16px;
    font-family: 'Courier New', monospace;
    font-weight: 500;
}